@import '../../sass/style.scss';

.bg {
    border-radius: 20px;
    background-color: #FFFFFF;  
  #okButton{
    @include font;
      font-weight: 500;
      letter-spacing: 1.25px;
      line-height: 16px;
      text-align: center;
      background-color: #D92756;;
      position: relative;
      height: 48px;
      width: 139px;
      border-radius: 25px;
      margin-left: 33%;   
    }
    p{
        height: 19px;
        width: 451px;
        color: #000000;
        font-family: Roboto;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 19px;
      }
}