<app-header></app-header>

<div class="bg">
    <div class="rectangle">
        <div class="group-9">
            <div class="your-questionnaires">
                Your Questionnaires
            </div>
            <button mat-mini-fab class="new-query-btn" color='accent'>New Questionnaire</button>
        </div>

        <div class="group-8">
            <button mat-mini-fab class="new-query-btn" disabled>Secure Coding Guide...</button>

            <button mat-mini-fab class="new-query-btn">
                ISHM Questionnaire
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>

            <button mat-mini-fab class="new-query-btn">PA Questionnaire<mat-icon>arrow_forward_ios</mat-icon>
            </button>
            <button mat-mini-fab class="new-query-btn">
                Process Guidelines<mat-icon>arrow_forward_ios</mat-icon>
            </button>
        </div>
    </div>

    <div class="form-bg">
        <div class="form">
            <form [formGroup]="service.form">
                <input type="hidden" formControlName="$key">
                <div class="questionnaire">
                    <mat-toolbar>
                        <span>Questionnaire</span>
                    </mat-toolbar>

                    <mat-form-field appearance="outline">
                        <mat-label>Enter Password</mat-label>
                        <input formControlName="title" matInput>
                        <mat-hint>Please enter appropriate title</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea formControlName="description" matInput></textarea>
                    </mat-form-field>

                    <mat-grid-list cols="2" rowHeight="80px">
                        <mat-grid-tile>
                            <mat-form-field appearance="outline">
                                <mat-label>Button Title</mat-label>
                                <input formControlName="buttonTitle" matInput>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field appearance="outline">
                                <mat-label>Button Text</mat-label>
                                <input formControlName="buttonText" matInput>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <mat-form-field appearance="outline">
                        <mat-label>Check Box Text</mat-label>
                        <input formControlName="checkBoxText" matInput>
                    </mat-form-field>
                </div>

                <div class="additional-details">
                    <mat-toolbar>
                        <span>Additional Details</span>
                    </mat-toolbar>

                    <mat-grid-list cols="3" rowHeight="80px">
                        <mat-grid-tile>
                            <mat-form-field appearance="outline">
                                <mat-label>Select Start Date</mat-label>
                                <input formControlName="startDate" matInput [matDatepicker]="picker1">
                                <mat-datepicker-toggle class="dateIcon" matSuffix [for]="picker1"></mat-datepicker-toggle> 
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field appearance="outline">
                                <mat-label>Select End Date</mat-label>
                                <input formControlName="endDate" matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle class="dateIcon" matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field appearance="outline">
                                <mat-label>Auto Remainder</mat-label>
                                <input formControlName="autoRemainder" matInput>
                                <span matSuffix>Days</span>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <mat-grid-list cols="2" rowHeight="80px">
                        <mat-grid-tile>
                            <mat-form-field appearance="outline">
                                <mat-label>Select Content PPT File</mat-label>
                                <ngx-mat-file-input formControlName="pptFile" [accept]="'.ppt,.pptx'">
                                    <mat-icon ngxMatFileInputIcon class="fileIcon" >backup</mat-icon>
                                </ngx-mat-file-input>
                            </mat-form-field>

                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field appearance="outline">
                                <mat-label>Select Participant xl Sheet</mat-label>
                                <ngx-mat-file-input formControlName="xlSheet" [accept]="'.xls,.xlsx,.docx,.doc'">
                                    <mat-icon ngxMatFileInputIcon class="fileIcon">backup</mat-icon>
                               </ngx-mat-file-input>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <mat-form-field appearance="outline">
                        <mat-label>Mail Body</mat-label>
                        <textarea formControlName="mailBody" matInput></textarea>
                    </mat-form-field>

                </div>
            </form>
        </div>

        <div class="actions">
            <button mat-raised-button>
                <mat-icon>save</mat-icon>
                SAVE
            </button>

            <button mat-raised-button>
                <mat-icon>preview</mat-icon>
                PREVIEW
            </button>

            <button mat-raised-button>
                <mat-icon>publish</mat-icon>
                PUBLISH
            </button>

            <button mat-raised-button>
                <mat-icon>add_alert</mat-icon>
                REMIND
            </button>

            <button mat-raised-button>
                 
                     <mat-icon>description</mat-icon>
                GENERATE REPORT
            
            </button>
        </div>

        <div class="Option-container">
            <span class="toggle-option" *ngIf="!overlay">
                <div mat-dialog-close routerLink="/changepassword" class="display">
                    Change Password
                </div>

                <div class="display1">
                    <button mat-flat (click)="openSuperAdminDialog()">
                        Add/Remove Super Admins</button>
                </div>
                <div class="display1">
                    <button mat-flat (click)="openAdminDialog()">
                        Add/Remove Admins
                    </button>
                </div>
            </span>
            <div class="icon1" (click)="openOverlay()">
                <button mat-fab class="fab-button">
                    <mat-icon>{{ closeIcon}}</mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>
<div class="overlay" *ngIf="!overlay"></div>