<app-header></app-header>

<div class = "bg">
    <div class = "rectangle">
        <div class = "group-9">
            <div class = "your-questionnaires">
                Your Questionnaires
            </div>
            <button mat-mini-fab class ="new-query-btn">New Questionnaire</button>
        </div>

        <div class = "group-8">
        </div>
    </div>

    <div class = "form-bg">
        <div class = "form">
        </div>

        <div class = "actions">
        </div>
    </div>
</div>


