<div class = "clear">
    <mat-icon (click) = "closeDialog()" routerLink="/homescreen">clear</mat-icon>
</div>

<div class="admin">
    <mat-toolbar>
        <span>Add/ Super Remove Admins</span>
    </mat-toolbar>
    <div class="parent">
        <mat-form-field appearance="outline">
            <mat-label>Enter Name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter Employee Code</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width:300px">
            <mat-label>Enter Mail ID</mat-label>
            <input matInput>
        </mat-form-field>

        <button mat-mini-fab>
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="line"></div>

    <div class="child">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Employee Code</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width:300px">
            <mat-label>Mail ID</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-mini-fab>
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab>
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <div class="child">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Employee Code</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width:300px">
            <mat-label>Mail ID</mat-label>
            <input matInput>
        </mat-form-field>

        <button mat-mini-fab>
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab>
            <mat-icon>delete</mat-icon>
        </button>
    </div>

    <div class = "buttons">
        <button mat-mini-fab class="new-query-btn">Update</button>
        <button mat-mini-fab class="new-query-btn" mat-dialog-close>cancel</button>
    </div>



</div>