<app-header></app-header>

<div class = "container">
    <div class = "loginForm">
        <div class = "login mat-title">
            Change Password
        </div>
        <form [formGroup]="service.changepassword">
        <div class = "username">
            <mat-form-field appearance = "outline" style="width:20vw">
                <mat-label>Enter New Password</mat-label>
                <input matInput formControlName="newPassword" required>
                <mat-error>This field is mandatory</mat-error>
              </mat-form-field>
        </div>
        <div class = "password">
            <mat-form-field appearance = "outline" style="width:20vw">
                <mat-label>Re-Enter New Password</mat-label>
                <input matInput formControlName="reEnterPassword" required>
                <mat-error>This field is mandatory</mat-error>
              </mat-form-field>
        </div>
        <div >
            <button class = "loginButton" mat-raised-button  routerLink = "/homescreen" (click)="checkpassword()">Update</button>
        </div>
        </form>
    </div>
</div>

