<app-header></app-header>

<div class = "container">
    <div class = "loginForm">
        <div class = "login mat-title">
            Change Password
        </div>

        <div class = "username">
            <mat-form-field appearance = "outline" style="width:20vw">
                <mat-label>Enter New Password</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
        <div class = "password">
            <mat-form-field appearance = "outline" style="width:20vw">
                <mat-label>Re-Enter New Password</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
        <div >
            <button class = "loginButton" mat-raised-button  routerLink = "/homescreen" routerLinkActivate = "active">Update</button>
        </div>
        
    </div>
</div>

