<div class = "container">
    <div class = "loginForm">
        <div class = "login mat-title">
            LogIn
        </div>

        <div class = "username">
            <mat-form-field appearance = "outline" style="width:20vw">
                <mat-label>Enter Username</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
        <div class = "password">
            <mat-form-field appearance = "outline" style="width:20vw">
                <mat-label>Enter Password</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
        <div >
            <button class = "loginButton" color = "accent" mat-raised-button>Login</button>
        </div>
        <div class = "forgotPassword" (click) = "openDialog()">
            Forgot password?
        </div>
    </div>
</div>
