@import '../../sass/style.scss';

.container{
  height: 1138px;
  background: linear-gradient(52.03deg, #7A7FC8 0%, #BD385B 100%);

  .loginForm{
    position: absolute;
    height: 385px;
    width: 535px;
    border-radius: 20px;
    max-width: 500px;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .login {
      position: relative;
      //margin-top: 5%;
      //margin-left: 44%;
        height: 29px;
        width: 64px;
        color: #000000;
        font-family:  Roboto;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 29px;

    }

    .password,
    .username {
      @include font;
      position: relative;
      //margin-left: 30%;
    }

    .loginButton {
      @include font;
      font-weight: 500;
      letter-spacing: 1.25px;
      line-height: 16px;
      text-align: center;
      background-color: #D92756;
      position: relative;
      height: 48px;
      width: 139px;
      border-radius: 25px;
      margin-left: 25%;
    }

    .forgotPassword {
      height: 14px;
      width: 97px;
      opacity: 0.8;
      color: #000000;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 14px;
    
      margin-left: 33%;
      margin-top: 25px;
    }
    
    
  }

}
